
test/dummy_data/dummy_data.xlsx
test/dummy_data/dummy_data.csv
/data
src/analysis_deltaHAP40.jl
src/analysis_HAP40-4K.jl
src/test.jl
*.xlsx
encodings/interresidue_distance.csv
encodings/9606.protein.network.embeddings.v12.0.h5
encodings/generated_training_dataset.h5
encodings/pdb_codes.csv
encodings/protein.network.embeddings.v12.0.h5
encodings/log_pdb.txt
generated_training_dataset.h5
training_metrics_Adam_1e-3.csv
/wandb
trained_dnn_model.bson
training_metrics.csv
/.CondaPkg
/.CondaPkg
/.CondaPkg
.CondaPkg/meta
/src/dnn/.CondaPkg
.CondaPkg/pixi.toml
/encodings/topological_negatives_raw_data
/encodings/datasets_without_topological
encodings/topological_negatives.csv
encodings/topological_negatives.h5
encodings/full_dataset.h5
encodings/test_data.h5
encodings/train_data.h5
encodings/val_data.h5
/encodings/datasets_with_topological
encodings/STRINGscores.h5
/checkpoints
/encodings
convergence.png
volcano_plot.png
/cache
log.txt
/build
/docs/build
/julia_con
examples/.CondaPkg/
profiling
examples/meta